{% extends 'base.html' %}

{% block 'title' %}Headline{% endblock %}

{% block 'content' %}
Content
<div data-role="page" class="ui-responsive-panel">
    <div data-role="header" data-theme="f">
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
    </div>
    <div data-role="panel" data-position="left" data-position-fixed="false" data-display="reveal" id="nav-panel" data-theme="a">
        <ul data-role="listview" data-theme="a" data-divider-theme="a" style="margin-top:-16px;" class="nav-search">
            <li data-icon="delete" style="background-color:#111;">
            <a href="#" data-rel="close">Close menu</a>
            </li>
            <li data-filtertext="wai-aria voiceover accessibility screen reader">
            <a href="../about/accessibility.html">Accessibility</a>
            </li>
            <li data-filtertext="accordions collapsible set collapsible-set collapsed">
            <a href="../content/content-collapsible-set.html">Accordions</a>
            </li>
        </ul>
    </div>
    <div class="jqm-footer">
        <p class="jqm-version"></p>
        <p>&copy; 2010, 2013 jQuery Foundation and other contributors</p>
    </div>
</div>
{% endblock %}

